<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登录成功界面</title>
    
    <link th:href="@{../../bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{../../bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{../../bootstrap/css/unicorn.main.css}" />
	<link rel="stylesheet" th:href="@{../../bootstrap/css/unicorn.grey.css}" />
	
	<script th:src="@{../../bootstrap/js/excanvas.min.js}"></script>
    <script th:src="@{../../bootstrap/js/jquery.min.js}"></script>
    <script th:src="@{../../bootstrap/js/jquery-ui.custom.js}"></script>
    <script th:src="@{../../bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{../../bootstrap/js/jquery.flot.min.js}"></script>
    <script th:src="@{../../bootstrap/js/jquery.flot.resize.min.js}"></script>
    <script th:src="@{../../bootstrap/js/jquery.peity.min.js}"></script>
    <script th:src="@{../../bootstrap/js/fullcalendar.min.js}"></script>
    <script th:src="@{../../bootstrap/js/unicorn.js}"></script>
    <script th:src="@{../../bootstrap/js/unicorn.dashboard.js}"></script>
    
<style type="text/css">  
 #table th{ width:50px; height:20px;padding:10px;} 
 #table td{ width:50px; height:20px;padding:10px;text-align:center;}    
</style>  
  
</head>
<body>
	<div id="header">
			<h1><a href="./dashboard.html">客户数据合并</a></h1>		
		</div>
		<div id="search">
			<input type="text" placeholder="Search here..."/><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
		</div>
		
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <li class="btn btn-inverse" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text"><span th:text="${user.username}"></span>,欢迎你，登录成功！</span></a></li>
              
            </ul>
        </div>
        
        
        <div id="sidebar">
			<ul>
				<li class="submenu">
					<a href="#"><i class="icon icon-th-list"></i> <span>用户管理</span> <span class="label">2</span></a>
					<ul>
						<li><a href="../../page/turns/welcome">用户管理</a></li>
						<li><a href="#">权限管理</a></li>
					</ul>
				</li>
				
				<li class="submenu">
					<a href="#"><i class="icon icon-tint"></i> <span>客户数据管理</span><span class="label">1</span></a>
					<ul>
						<li><a href="../../page/turns/accountmerge">客户合并</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#"><i class="icon icon-th-list"></i> <span>基础数据管理</span> <span class="label">2</span></a>
					<ul>
						<li><a href="#">房产楼栋</a></li>
						<li><a href="#">合同数据</a></li>
						<li><a href="#">世茂币</a></li>
						<li><a href="#">参数设置</a></li>
					</ul>
				</li>
				
			</ul>
		
		</div>
		
		<!-- <div id="style-switcher">
			<i class="icon-arrow-left icon-white"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
            <a href="#light-blue" style="background-color: #8399b0;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a>
            <a href="#red-green" style="background-image: url('img/demo/red-green.png');background-repeat: no-repeat;"></a>
		</div> -->
		
		
		<div id="content">
			<div id="content-header">
				<h1><span th:text="${user.username}"></span>,欢迎你，登录成功！您的信息如下:<br/></h1>
				
			</div>
			
			
    <table id="table">
        <tr><th>用户名</th> <th>密码</th> <th>性别</th> <th>电话</th> <th>电子邮箱</th> </tr>
        <tr>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
    <form action="/findAll">
        <table>
            <tr><button type="submit">查询所有用户</button></tr>
        </table>
    </form>
    <form action="findOne">
        <table>
            <tr><input type="text" name="username" /></tr><br/>
            <tr><button type="submit">查询</button></tr>
        </table>
    </form>
    <form action="addHtml">
        <table>
            <tr><button type="submit">添加</button></tr>
        </table>
    </form>
			
		</div>


    
</body>
</html>